  <footer>
  <!-- {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  {{ . | markdownify }}
  {{ end }} -->
  <div class="footer-info"><p>
    NAYAB IKRAM
    <br/>  
    PHOTOGRAPHER & VISUAL ARTIST
    <br/>
    NAYABNOORIKRAM@GMAIL.COM
    <br/>
    +358 (0) 407163337
    <br/>
    <a href="http://www.instagram.com/nayabikram">INSTAGRAM</a> ◆ 
    <a href="https://www.facebook.com/NayabIkramPhotography/">FACEBOOK</a>
    </p>
  </div>

  </footer>
  </body>
</html>
