<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>

    <img class="logo" src="../images/logo.jpg" style="max-width:50%;min-width:40px;"alt="Home" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "../css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "../css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "../css/ionicons.css" | relURL }}" />

  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="current"{{ end }}>
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    </nav>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/script.js"></script>
  
